body {
  margin: 0;
  padding: 0;
  background-image: url("tetrissoft.jpeg");
}

html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 450px;
  background-color: rgb(207, 174, 230);
}

.tetris {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 0.5px solid rgb(32, 41, 37);
  box-sizing: border-box;
}

.score-board {
  display: inline-block;

  padding: 0.5rem;
  margin: 0.5rem;
  position: relative;
  background-color: rgb(100, 237, 180);
  font-size: 1.5em;
  color: rgb(109, 100, 237);
}

.start-game {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.name {
  display: flex;
  width: 5rem;
  height: 2rem;
  color: rgb(109, 100, 237);
  outline: none;
  border: 3px solid rgb(109, 100, 237);
}
.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  padding: 1rem;
  background-color: white;
  border-radius: 40%;
  color: rgb(109, 100, 237);
  font-weight: bold;
}

button {
  background-color: rgb(109, 100, 237);
  outline: none;
  font-weight: bold;
  margin: 0.5rem;
  color: rgb(100, 237, 180);
  padding-left: 1rem;
  padding-right: 1rem;
}
.pause {
  background-color: rgb(100, 237, 180);
  padding: 1rem;
  color: rgb(109, 100, 237);
}

.stopped {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 0.5px solid rgb(32, 41, 37);
  box-sizing: border-box;
}
